@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lobster: Lobster, sans-serif;
  --font-lato: Lato, sans-serif;
  --font-merriweather: Merriweather, sans-serif;
}

@theme {
  --color-primary: #0658a6;
  --color-secondary: #e63d86;
  --color-accent: #2ec4b6;
  --color-neutral: #f8fafc;
}
* {
  scroll-behavior: smooth;
  scrollbar-color: #ecf0f7 #1a519e;
}
